<div class="hero-banner mt-1">
    <div class="container">
        <h1 class="text-center text-white"></h1>
    </div>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-12 mx-auto">
            <!-- <div class="text-white p-5 shadow-sm rounded banner">
                <h1 class="display-4">About Our Studios!</h1>
                <p class="lead">At Redhills</p>
            </div> -->
            <div class="main_title">
                <h2>About Our Studios!</h2>
                <p>At Redhills</p>
            </div>
        </div>
    </div>
    <p>Welcome to
        <span class="text-warning">SDM PHOTO EFFECT</span>
        we have started 2007, at Redhills, We are glad to offer you our services. Be it your engagement, wedding,
        birthday, advertisment and more..
    </p>
    <p>
        I like to reveal the nature and feelings of people, to catch sincere moments, and to create pictures with the
        mood
        and atmosphere. My photographs are designed, for you to re-immerse you in those moments even after some time has
        passed. Through photograph, you can experience moments of happiness, giving you a new way to see yourself and
        your
        loved ones.
    </p>
    <p>
        I'm happiest with my work when I create a picture that embraces a moment, a story, and a compositional
        integrity.
        There should be an original creative core: one that is interesting to look not only to the participant of the
        survey
        but also to the outside viewer.
    </p>
</div>
<!-- End intro content -->
<section class="service_area p_50">
    <div class="container">
        <div class="main_title">
            <h2>Why we are the best</h2>
            <p>Who are in extremely love with eco friendly system.</p>
        </div>
        <div class="row service_inner">
            <div class="col-lg-4 col-md-6">
                <div class="service_item">
                        <h4>Expert Technicians</h4>
                    <p>Photographers use their creativity and expertise to compose and preserve photographic.take pictures of people, like places. 
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service_item">
                        <h4>Professional Service</h4>
                    <p>Services work with customer to provide videos and photographs for a variety of purposes including wedding, advertising, and more.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service_item">
                        <h4>Great Support</h4>
                    <p>Something that you think would help make it better or tips on achieving the specific look that the picture said they were trying to get to.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service_item">
                        <h4>Technical Skills</h4>
                    <p>Highly skilled photographers learn to maintain a solid balance between the artistic and technical sides of working behind the camera.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service_item">
                        <h4>Highly Recomended</h4>
                    <p>Every camera in this guide has been tested thoroughly in a variety of real-world settings to make sure it deserves to be in our list.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service_item">
                        <h4>Positive Reviews</h4>
                    <p>Madhan did a great job! he did an amazing job at capturing the best moments and the true emotions at our wedding!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Skill animations -->
<div class="container">
    <div class="main_title">
        <h2>Our Skills</h2>
        <p>we are making creative output</p>
    </div>
</div>
<div class="container">
    <ul class="skills-bar-container mt_200 p-0">
        <li>
            <div class="progressbar-title">
                <h3 class="text-dark">Adobe Photoshop CC</h3>
                <span class="percent" id="photoshop-pourcent"></span>
            </div>
            <div class="bar-container">
                <span class="progressbar progressred" id="progress-photoshop"></span>
            </div>
        </li>
        <li>
            <div class="progressbar-title">
                <h3 class="text-dark">Adobe Illustrator CC</h3>
                <span class="percent" id="illustrator-pourcent"></span>
            </div>
            <div class="bar-container">
                <span class="progressbar progressblue" id="progress-illustrator"></span>
            </div>
        </li>

        <li>
            <div class="progressbar-title">
                <h3 class="text-dark">Adobe Lightroom CC</h3>
                <span class="percent" id="lightroom-pourcent"></span>
            </div>
            <div class="bar-container">
                <span class="progressbar progresspurple" id="progress-lightroom"></span>
            </div>
        </li>

        <li>
            <div class="progressbar-title">
                <h3 class="text-dark">Adobe Premiere Pro CC</h3>
                <span class="percent" id="premiere-pourcent"></span>
            </div>
            <div class="bar-container">
                <span class="progressbar progressorange" id="progress-premiere"></span>
            </div>
        </li>

        <li>
            <div class="progressbar-title">
                <h3 class="text-dark">Adobe After Effects CC</h3>
                <span class="percent" id="aftereffect-pourcent"></span>
            </div>
            <div class="bar-container">
                <span class="progressbar progressgreen" id="progress-aftereffect"></span>
            </div>
        </li>

    </ul>
</div>