<div class="hero-banner mt-1">
    <div class="container">
        <h1 class="text-center text-white">About Us</h1>
    </div>
</div>
<div class="container">

    
        <div class="row my-5">
            <div class="col-lg-12 mx-auto">
                <div class="text-white p-5 shadow-sm rounded banner">
                    <h1 class="display-4">About Our Studios!</h1>
                    <p class="lead">At Redhills</p>
                </div>
            </div>
        </div>
    <p>Welcome to
    <span class="text-warning">SDM PHOTO EFFECT</span>
    we have started 2007, at Redhills, We are glad to offer you our services.Be it your engagement, wedding,
    birthday, advertisment and more..
    </p>
    <p>
        I like to reveal the nature and feelings of people, to catch sincere moments, and to create pictures with the
        mood
        and atmosphere. My photographs are designed, for you to re-immerse you in those moments even after some time has
        passed. Through photograph, you can experience moments of happiness, giving you a new way to see yourself and
        your
        loved ones.
    </p>
    <p>
        I'm happiest with my work when I create a picture that embraces a moment, a story, and a compositional
        integrity.
        There should be an original creative core: one that is interesting to look not only to the participant of the
        survey
        but also to the outside viewer.
    </p>
</div>
<!-- End intro content -->
<section class="service_area p_120">
    <div class="container">
    <div class="main_title">
    <h2>Why we are the best</h2>
    <p>Who are in extremely love with eco friendly system.</p>
    </div>
    <div class="row service_inner">
    <div class="col-lg-4 col-md-6">
    <div class="service_item">
    <a href="#"><h4>Expert Technicians</h4></a>
    <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
    </div>
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="service_item">
    <a href="#"><h4>Professional Service</h4></a>
    <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
    </div>
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="service_item">
    <a href="#"><h4>Great Support</h4></a>
    <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
    </div>
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="service_item">
    <a href="#"><h4>Technical Skills</h4></a>
    <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
    </div>
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="service_item">
    <a href="#"><h4>Highly Recomended</h4></a>
    <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
    </div>
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="service_item">
    <a href="#"><h4>Positive Reviews</h4></a>
    <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
    </div>
    </div>
    </div>
    </div>
    </section>