#play {
    position : absolute;
    top      : 45%;
    left     : 46%;
    font-size: xx-large;
    color    : #FFF;
    cursor   : pointer;
}
.cursor {
    cursor: pointer;
}

.mb-bottom {
    margin-bottom: 70px;
}
.main_title h2 {
    font-size    : 36px;
    text-align   : center;
    font-weight  : 600;
    color        : #222;
    font-family  : "Poppins", sans-serif;
    margin-bottom: 10px;
  }