<!-- Grid row -->
<div class="container mt-head mb-bottom">
    <div class="row">
        <!-- Grid column 1-->
        <div class="col-lg-4 col-md-6 mb-4">
            <!--Modal: Name-->
            <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <!--Content-->
                    <div class="modal-content">
                        <!--Body-->
                        <div class="modal-body mb-0 p-0">
                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4GVecWVs6u0"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                        <!--Footer-->
                        <div class="modal-footer justify-content-around">
                            <span class="">3D Text Effect   - <small class="text-success">Made By sdm photo effect</small></span>
                            <!-- <a type="button" class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook-f"></i></a>                      
                            <a type="button" class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"></i></a> -->
                            <button type="button" class="btn btn-outline-warning btn-rounded btn-md ml-4"
                                data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!--/.Content-->
                </div>
            </div>
            <!--Modal: Name-->
            <a><i class="fa fa-play-circle" id="play" aria-hidden="true" data-toggle="modal"
                    data-target="#modal1"></i><img class="img-fluid z-depth-1 cursor"
                    src="/assets/wedding/sdmphoto_gold_flare_effects.JPG" alt="gold_flare_effects"></a>
        </div>
         <!-- Grid column 2-->
         <div class="col-lg-4 col-md-6 mb-4">
            <!--Modal: Name-->
            <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <!--Content-->
                    <div class="modal-content">
                        <!--Body-->
                        <div class="modal-body mb-0 p-0">
                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xfVaj9JMqes"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                        <!--Footer-->
                        <div class="modal-footer justify-content-around">
                            <span class="">Advertisement Micheal Studio  - <small class="text-success">Made By sdm photo effect</small></span>
                            <!-- <a type="button" class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook-f"></i></a>
                            <a type="button" class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"></i></a> -->
                            <button type="button" class="btn btn-outline-warning btn-rounded btn-md ml-4"
                                data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!--/.Content-->
                </div>
            </div>
            <!--Modal: Name-->
            <a><i class="fa fa-play-circle" id="play" aria-hidden="true" data-toggle="modal"
                    data-target="#modal2"></i><img class="img-fluid z-depth-1 cursor"
                    src="/assets/wedding/sdm_photo_3d.JPG" alt="photo_3d_effect"></a>
        </div>
      <!-- Grid column 3-->
      <div class="col-lg-4 col-md-6 mb-4">
        <!--Modal: Name-->
        <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Body-->
                    <div class="modal-body mb-0 p-0">
                        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xzTnUwCcPTc"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <!--Footer-->
                    <div class="modal-footer justify-content-around">
                        <span class="">3D Text Effect   - <small class="text-success">Made By sdm photo effect</small></span>
                        <!-- <a type="button" class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook-f"></i></a>                      
                        <a type="button" class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"></i></a> -->
                        <button type="button" class="btn btn-outline-warning btn-rounded btn-md ml-4"
                            data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Modal: Name-->
        <a><i class="fa fa-play-circle" id="play" aria-hidden="true" data-toggle="modal"
                data-target="#modal3"></i><img class="img-fluid z-depth-1 cursor"
                src="/assets/wedding/micheal_studio.JPG" alt="micheal_studios"></a>
    </div>


        <!-- Grid column 4-->
        <div class="col-lg-4 col-md-6 mb-4">
            <!--Modal: Name-->
            <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <!--Content-->
                    <div class="modal-content">
                        <!--Body-->
                        <div class="modal-body mb-0 p-0">
                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VgtpAo2YfXo"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                        <!--Footer-->
                        <div class="modal-footer justify-content-around">
                            <span class="">Steel 3D Zoom Effect  - <small class="text-success">Made By sdm photo effect</small></span>
                            <!-- <a type="button" class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook-f"></i></a>
                            <a type="button" class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"></i></a> -->
                            <button type="button" class="btn btn-outline-warning btn-rounded btn-md ml-4"
                                data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal: Name-->
            <a><i class="fa fa-play-circle" id="play" aria-hidden="true" data-toggle="modal"
                    data-target="#modal4"></i><img class="img-fluid z-depth-1 cursor"
                    src="/assets/wedding/sdm_3d_steel.JPG" alt="3d_steel_effect"></a>
        </div>
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">
            <!--Modal: Name-->
            <div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <!--Content-->
                    <div class="modal-content">
                        <!--Body-->
                        <div class="modal-body mb-0 p-0">
                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pHX_bnXU9e4"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                        <!--Footer-->
                        <div class="modal-footer justify-content-around">
                            <span class="">SDM 3D Particals Effect!  - <small class="text-success">Made By sdm photo effect</small></span>
                            <!-- <a type="button" class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook-f"></i></a>
                            <a type="button" class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"></i></a> -->
                            <button type="button" class="btn btn-outline-warning btn-rounded btn-md ml-4"
                                data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal: Name-->
            <a><i class="fa fa-play-circle" id="play" aria-hidden="true" data-toggle="modal"
                    data-target="#modal5"></i><img class="img-fluid z-depth-1 cursor"
                    src="/assets/wedding/2020_3d_particals.JPG" alt="particals_3d_new"></a>
        </div>
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">
            <!--Modal: Name-->
            <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <!--Content-->
                    <div class="modal-content">

                        <!--Body-->
                        <div class="modal-body mb-0 p-0">

                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1mFLnmV9_ZQ"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                        <!--Footer-->
                        <div class="modal-footer justify-content-around">
                            <span class="">Advertisement Roshan Studio  - <small class="text-success">Made By sdm photo effect</small></span>
                            <!-- <a type="button" class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook-f"></i></a>
                            <a type="button" class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"></i></a> -->
                            <button type="button" class="btn btn-outline-warning btn-rounded btn-md ml-4"
                                data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!--/.Content-->
                </div>
            </div>
            <!--Modal: Name-->
            <a><i class="fa fa-play-circle" id="play" aria-hidden="true" data-toggle="modal"
                    data-target="#modal6"></i><img class="img-fluid z-depth-1 cursor"
                    src="/assets/wedding/roshan_studio.JPG" alt="roshan_studios"></a>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <!--Modal: Name 7-->
            <div class="modal fade" id="modal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <!--Content-->
                    <div class="modal-content">
                        <!--Body-->
                        <div class="modal-body mb-0 p-0">

                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gfFCTFwKcu4"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                        <!--Footer-->
                        <div class="modal-footer justify-content-around">
                            <span class="">Multi Shot Slice Cut  - <small class="text-success">Made By sdm photo effect</small></span>
                            <!-- <a type="button" class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook-f"></i></a>
                            <a type="button" class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"></i></a> -->
                            <button type="button" class="btn btn-outline-warning btn-rounded btn-md ml-4"
                                data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!--/.Content-->
                </div>
            </div>
            <!--Modal: Name-->
            <a><i class="fa fa-play-circle" id="play" aria-hidden="true" data-toggle="modal"
                    data-target="#modal7"></i><img class="img-fluid z-depth-1 cursor"
                    src="/assets/wedding/micheal_road.jpg" alt="slice_cuts"></a>

            <!-- <a><img class="img-fluid z-depth-1 cursor" src="https://mdbootstrap.com/img/screens/yt/screen-video-1.jpg"
                    alt="video" data-toggle="modal" data-target="#modal1"></a> -->
        </div>
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">
            <!--Modal: Name 7-->
            <div class="modal fade" id="modal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <!--Content-->
                    <div class="modal-content">
                        <!--Body-->
                        <div class="modal-body mb-0 p-0">

                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ldYE7DusAXM"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                        <!--Footer-->
                        <div class="modal-footer justify-content-around">
                            <span class="">Multi Shot Slice Cut  - <small class="text-success">Made By sdm photo effect</small></span>
                            <!-- <a type="button" class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook-f"></i></a>
                            <a type="button" class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"></i></a> -->
                            <button type="button" class="btn btn-outline-warning btn-rounded btn-md ml-4"
                                data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!--/.Content-->
                </div>
            </div>
            <!--Modal: Name-->
            <a><i class="fa fa-play-circle" id="play" aria-hidden="true" data-toggle="modal"
                    data-target="#modal8"></i><img class="img-fluid z-depth-1 cursor"
                    src="/assets/wedding/Splatter_newone.jpg" alt="slice_cuts"></a>

            <!-- <a><img class="img-fluid z-depth-1 cursor" src="https://mdbootstrap.com/img/screens/yt/screen-video-1.jpg"
                    alt="video" data-toggle="modal" data-target="#modal1"></a> -->
        </div>
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">
            <!--Modal: Name 9-->
            <div class="modal fade" id="modal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <!--Content-->
                    <div class="modal-content">
                        <!--Body-->
                        <div class="modal-body mb-0 p-0">

                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vdMK81dA--o"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                        <!--Footer-->
                        <div class="modal-footer justify-content-around">
                            <span class="">Multi Shot Slice Cut  - <small class="text-success">Made By sdm photo effect</small></span>
                            <!-- <a type="button" class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook-f"></i></a>
                            <a type="button" class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"></i></a> -->
                            <button type="button" class="btn btn-outline-warning btn-rounded btn-md ml-4"
                                data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!--/.Content-->
                </div>
            </div>
            <!--Modal: Name-->
            <a><i class="fa fa-play-circle" id="play" aria-hidden="true" data-toggle="modal"
                    data-target="#modal9"></i><img class="img-fluid z-depth-1 cursor"
                    src="/assets/wedding/Squre rotation.jpg" alt="slice_cuts"></a>

            <!-- <a><img class="img-fluid z-depth-1 cursor" src="https://mdbootstrap.com/img/screens/yt/screen-video-1.jpg"
                    alt="video" data-toggle="modal" data-target="#modal1"></a> -->
        </div>
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">
            <!--Modal: Name 7-->
            <div class="modal fade" id="modal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <!--Content-->
                    <div class="modal-content">
                        <!--Body-->
                        <div class="modal-body mb-0 p-0">

                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ykt8H759DzY"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                        <!--Footer-->
                        <div class="modal-footer justify-content-around">
                            <span class="">Multi Shot Slice Cut  - <small class="text-success">Made By sdm photo effect</small></span>
                            <!-- <a type="button" class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook-f"></i></a>
                            <a type="button" class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"></i></a> -->
                            <button type="button" class="btn btn-outline-warning btn-rounded btn-md ml-4"
                                data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!--/.Content-->
                </div>
            </div>
            <!--Modal: Name-->
            <a><i class="fa fa-play-circle" id="play" aria-hidden="true" data-toggle="modal"
                    data-target="#modal10"></i><img class="img-fluid z-depth-1 cursor"
                    src="/assets/wedding/slice_cut.JPG" alt="slice_cuts"></a>

            <!-- <a><img class="img-fluid z-depth-1 cursor" src="https://mdbootstrap.com/img/screens/yt/screen-video-1.jpg"
                    alt="video" data-toggle="modal" data-target="#modal1"></a> -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">
            <!--Modal: Name-->
            <div class="modal fade" id="modal11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <!--Content-->
                    <div class="modal-content">
                        <!--Body-->
                        <div class="modal-body mb-0 p-0">
                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_JNsv9BH0f8"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                        <!--Footer-->
                        <div class="modal-footer justify-content-around">
                            <span class="">Single Swipes & Multi Slice  - <small class="text-success">Made By sdm photo effect</small></span>
                            <!-- <a type="button" class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook-f"></i></a>
                            <a type="button" class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"></i></a> -->
                            <button type="button" class="btn btn-outline-warning btn-rounded btn-md ml-4"
                                data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal: Name-->

            <a><i class="fa fa-play-circle" id="play" aria-hidden="true" data-toggle="modal"
                    data-target="#modal11"></i><img class="img-fluid z-depth-1 cursor"
                    src="/assets/wedding/kerala_movement_.JPG" alt="kerala_movements"></a>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">
            <!--Modal: Name-->
            <div class="modal fade" id="modal12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <!--Content-->
                    <div class="modal-content">
                        <!--Body-->
                        <div class="modal-body mb-0 p-0">
                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GulZKeHOCm4"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                        <!--Footer-->
                        <div class="modal-footer justify-content-around">
                            <span class="">Effect 3D Glass With Speed !  - <small class="text-success">Made By sdm photo effect</small></span>
                            <!-- <a type="button" class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook-f"></i></a>
                            <a type="button" class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"></i></a> -->
                            <button type="button" class="btn btn-outline-warning btn-rounded btn-md ml-4"
                                data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal: Name-->
            <a><i class="fa fa-play-circle" id="play" aria-hidden="true" data-toggle="modal"
                    data-target="#modal12"></i><img class="img-fluid z-depth-1 cursor"
                    src="/assets/wedding/college_pure_3d.JPG" alt="college_pure_3d effect"></a>
        </div>
    </div>
</div>