<div class="hero-banner mt-1">
    <div class="container overlay">
        <h1 class="text-center text-white"></h1>
    </div>
</div>


<!-- <div class="img-center mt-5">
    <img class="w-100 overlay" src="/assets/contact/fresh_leaf.JPG" alt="contact_banner">
    <h1 class="centered text-white">Contact Us</h1>
</div> -->
<div class="contact1 my-5">
    <div class="container-contact1">
        <div class="contact1-pic js-tilt" data-tilt>
            <img src="/assets/contact/img-01.png" alt="messagebox-image">
        </div>
        <form class="contact1-form validate-form" [formGroup]="exform" action="/contact_form" method="post">
            <span class="contact1-form-title">
                Get in touch
            </span>
            <div class="form-group error">
                <label class="col-form-label">Name*</label>
                <input formControlName="name" type="text" class="form-control" placeholder="Enter your name">
                <i *ngIf="name.valid && name.touched" class="fa fa-check-circle"></i>
                <i *ngIf="name.invalid && name.touched" class="fa fa-exclamation-circle"></i>
                <small *ngIf="name.invalid && name.touched" class="text-danger error-text">Name is required</small>
            </div>
            <div class="form-group error">
                <label class="col-form-label">Email*</label>
                <input formControlName="email" type="text" class="form-control" placeholder="example@gmail.com">
                <i *ngIf="email.valid && email.touched" class="fa fa-check-circle"></i>
                <i *ngIf="email.invalid && email.touched" class="fa fa-exclamation-circle"></i>
                <small *ngIf="email.invalid && email.touched" class="text-danger error-text">Please enter valid
                    email</small>
            </div>
            <div class="form-group error">
                <label class="col-form-label">Phone*</label>
                <input formControlName="phone" type="tel" class="form-control" maxlength="10" placeholder="XXXXXXXXXX">
                <i *ngIf="phone.valid && phone.touched" class="fa fa-check-circle"></i>
                <i *ngIf="phone.invalid && phone.touched" class="fa fa-exclamation-circle"></i>
                <small *ngIf="phone.invalid && phone.touched" class="text-danger error-text">Please enter valid phone
                    number</small>
            </div>
            <div class="form-group error">
                <label class="col-form-label">Message*</label>
                <textarea formControlName="message" class="form-control" placeholder="Your message here..."></textarea>
                <i *ngIf="message.valid && message.touched" class="fa fa-check-circle"></i>
                <i *ngIf="message.invalid && message.touched" class="fa fa-exclamation-circle"></i>
                <small *ngIf="message.invalid && message.touched" class="text-danger error-text">Please enter your
                    message</small>
            </div>
            <!-- <button (click)="clicksub()" [disabled]="exform.invalid" type="button"
                class="btn btn-warning text-white">Send
                message</button> -->
            <button (click)="clicksub()" type="button"
                class="btn btn-warning text-white">Send
                message</button>
        </form>
    </div>
</div>
<div class="container p-0">
    <div class="map-responsive">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1942.1479803814605!2d80.1708761!3d13.2067262!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a527dbc10d907a7%3A0x8de7f2def2449375!2s3rd%20street%2C%20mahalakshmi%20nagar%2C%20padianallur%2C%20chennai%20-52%2C%20Padianallur%2C%20Tamil%20Nadu%20600052!5e0!3m2!1sen!2sin!4v1639223569367!5m2!1sen!2sin"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-4">
                        <div class="dbox w-100 text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-map-marker"></span>
                            </div>
                            <div class="text">
                                <p><span class="contact-color"></span>#655A, 3rd Street, Mahalakshmi Nagar, Padianallur,
                                    Redhills, Chennai - 600 052, TamilNadu, India</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="dbox w-100 text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-phone"></span>
                            </div>
                            <div class="text list-unstyled">
                                <p><a href="tel://+91 9597118896 +91 8695592555"><span class="contact-color"></span>+91
                                        9597118896 +91 8695592555</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="dbox w-100 text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-paper-plane"></span>
                            </div>
                            <div class="text">
                                <p><a href="mailto:photoeffect@sdm.com"><span
                                            class="contact-color"></span>photoeffect@sdm.com</a></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>