<div class="container mt-head">
  <div class="main_title">
    <h2>We are doing All types of album!</h2>
    <p>Chennai and Kerala</p>
  </div>
  <div class="container">
    <div class="row d-flex justify-content-center section-first mt_100">
       <!-- Table #1  -->
       <div class="col-xs-12 col-lg-4 col-sm-8 album-make">
        <div class="card text-center border">
          <div class="card-header">
            <h3 class="display-3"><span class="currency"></span>General<span class="period"></span></h3>
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Size and models
            </h4>
            <ul class="list-group">
              <li class="list-group-item">A 12X36 - model</li>
              <li class="list-group-item">B 10X30 - model</li>
              <li class="list-group-item">C 10X28 - model</li>
              <li class="list-group-item">D Custom - model</li>
            </ul>
            <span href="#" class="btn btn-gradient mt-2">SDM - 001</span>
          </div>
        </div>
      </div>
      <!-- Table #2  -->
      <div class="col-xs-12 col-lg-4 col-sm-8 album-make">
        <div class="card text-center border">
          <div class="card-header">
            <h3 class="display-3"><span class="currency"></span>Chennai<span class="period"></span></h3>
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Size and models
            </h4>
            <ul class="list-group">
              <li class="list-group-item">A 12X36 - model</li>
              <li class="list-group-item">B 10X30 - model</li>
              <li class="list-group-item">C 10X28 - model</li>
              <li class="list-group-item">D Custom - model</li>
            </ul>
            <span href="#" class="btn btn-gradient mt-2">SDM - 002</span>
          </div>
        </div>
      </div>

      <!-- Table #3  -->
      <div class="col-xs-12 col-lg-4 col-sm-8 album-make">
        <div class="card text-center border">
          <div class="card-header">
            <h3 class="display-3"><span class="currency"></span>Kerala<span class="period"></span></h3>
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Size and models
            </h4>
            <ul class="list-group">
              <li class="list-group-item">A 15X24 - model</li>
              <li class="list-group-item">B 15X20 - model</li>
              <li class="list-group-item">C 12X24 - model</li>
              <li class="list-group-item">D Custom - model</li>
            </ul>
            <span href="#" class="btn btn-gradient mt-2">SDM - 003</span>
          </div>
        </div>
      </div>
     
<!-- Image Gallery -->
      <div class="row mt_100 px-3">
        <div class="col-sm-12 col-md-4 p-0">
          <a href="./assets/album/sathish-heart.jpg" class="fancybox" rel="ligthbox">
            <img src="./assets/album/sathish-heart.jpg" class="zoom img-fluid" alt="heart">
          </a>
        </div>
        <div class="col-sm-12 col-md-4 p-0">
          <a href="/assets/album/sathish-heart_2.jpg" class="fancybox" rel="ligthbox">
            <img src="/assets/album/sathish-heart_2.jpg" class="zoom img-fluid" alt="heart_2">
          </a>
        </div>
        <div class="col-sm-12 col-md-4 p-0">
          <a href="/assets/album/sathish-umbrella.jpg" class="fancybox" rel="ligthbox">
            <img src="/assets/album/sathish-umbrella.jpg" class="zoom img-fluid" alt="umbrella">
          </a>
        </div>
        <div class="col-sm-12 col-md-4 p-0">
          <a href="/assets/album/sathish_box-cloud.jpg" class="fancybox" rel="ligthbox">
            <img src="/assets/album/sathish_box-cloud.jpg" class="zoom img-fluid" alt="cloud_one">
          </a>
        </div>
        <div class="col-sm-12 col-md-4 p-0">
          <a href="/assets/album/sathish_abstract.jpg" class="fancybox" rel="ligthbox">
            <img src="/assets/album/sathish_abstract.jpg" class="zoom img-fluid" alt="abstract">
          </a>
        </div>
        <div class="col-sm-12 col-md-4 p-0">
          <a href="/assets/album/sathish_abstract_2.jpg" class="fancybox" rel="ligthbox">
            <img src="/assets/album/sathish_abstract_2.jpg" class="zoom img-fluid" alt="">
          </a>
        </div>
        <div class="col-sm-12 col-md-4 p-0">
          <a href="/assets/album/ramachandran_ovalbox.jpg" class="fancybox" rel="ligthbox">
            <img src="/assets/album/ramachandran_ovalbox.jpg" class="zoom img-fluid" alt="">
          </a>
        </div>
        <div class="col-sm-12 col-md-4 p-0">
          <a href="/assets/album/ramachandran_ovalbox_2.jpg" class="fancybox" rel="ligthbox">
            <img src="/assets/album/ramachandran_ovalbox_2.jpg" class="zoom img-fluid" alt="">
          </a>
        </div>
        <div class="col-sm-12 col-md-4 p-0">
          <a href="/assets/album/ramachandran_ovalbox_3.jpg" class="fancybox" rel="ligthbox">
            <img src="/assets/album/ramachandran_ovalbox_3.jpg" class="zoom img-fluid" alt="">
          </a>
        </div>
        <div class="col-sm-12 col-md-4 p-0">
          <a href="/assets/album/nithin_wrapper_01.jpg" class="fancybox" rel="ligthbox">
            <img src="/assets/album/nithin_wrapper_01.jpg" class="zoom img-fluid" alt="">
          </a>
        </div>
        <div class="col-sm-12 col-md-4 p-0">
          <a href="/assets/album/nithin_tree_02.jpg" class="fancybox" rel="ligthbox">
            <img src="/assets/album/nithin_tree_02.jpg" class="zoom img-fluid" alt="">
          </a>
        </div>
        <div class="col-sm-12 col-md-4 p-0">
          <a href="/assets/album/nithin_tree_03.jpg" class="fancybox" rel="ligthbox">
            <img src="/assets/album/nithin_tree_03.jpg" class="zoom img-fluid" alt="nithin_tree_03">
          </a>
        </div>
      </div>
    </div>