


// Use Bootstrap breakpoints for consistency.
$bootstrap-sm: 576px;
$bootstrap-md: 768px;
$bootstrap-lg: 992px;
$bootstrap-xl: 1200px;

// Crop thumbnail images.
#gallery {
  
  img {
    height: 75vw;
    object-fit: cover;
    
    @media (min-width: $bootstrap-sm) {
      height: 35vw;
    }
    
    @media (min-width: $bootstrap-lg) {
      height: 18vw;
    }
  }
}


// Crop images in lightbox.
.carousel-item {
  
  img {
    height: 60vw;
    object-fit: cover;
    
    @media (min-width: $bootstrap-sm) {
      height: 350px;
    }
  }
}

// --- END: crop images --- //


// --- BEGIN: custom styling demo --- //
// An example of custom styling for gallery and lightbox, to show what's possible in terms of aesthetic customization.

* {
  transition: 0.3s;
}

#gallery.custom {
  padding: 0 15px;
  
  img {
    display: block;
    margin: 15px 0;
    border-radius: 300px 30px 300px 300px;
    
    &:hover {
      border-radius: 30px 90px 30px 30px;
    }
  }
}

#exampleModal.custom {
  .modal-content {
    background: none;
    border: none;
  }
  
  .modal-header {
    border:none;
    
    button {
      background: none;
      border-radius: 100px 100px 0 0;
      padding: 5px 10px;
      opacity: 1;
      position: relative;
      top: 3px;
      border: solid 2px white;
      
      @media (min-width: $bootstrap-lg) {
        top: 15px;
      }
      
      &:hover {
        top: 3px;
      }
    }
    
    span {
      color: white;
    }
  }
  
  .modal-body {
    padding: 0;
    border: none;
    position: relative;
    
    &::before, &::after {
      content: '';
      height: 50px;
      width: 50px;
      display: block;
      position: absolute;
      background: white;
      border-radius: 3px 10px;
      
      @media (min-width: $bootstrap-md) {
        border-radius: 3px 30px;
        height: 100px;
        width: 100px;
      }
    }
    
    &::before {
      top: -5px;
      left: -5px;
      
      @media (min-width: $bootstrap-md) {
        top: -15px;
        left: -15px;
      }
    }
    
    &::after {
      bottom: -5px;
      right: -5px;
      z-index: -1;
      
      @media (min-width: $bootstrap-md) {
        bottom: -15px;
        right: -15px;
      }
    }
  }
  
  .modal-footer {
    border: none;
    margin-top: 60px;
    
    @media (min-width: $bootstrap-lg) {
      margin-top: 40px;
    }
    
    .btn {
      margin: auto;
      border: solid 2px white;
      background: none;
      text-transform: uppercase;
      font-size: 0.8em;
      letter-spacing: 0.1em;
      font-weight: bold;
      padding: 0.2em 0.7em;
      
      &:hover {
        background: white;
        color: black;
      }
    }
  }
  
  .carousel-control-prev, .carousel-control-next {
    font-size: 2em;
    top: auto;
    opacity: 1;
    bottom: -52px;
    
    @media (min-width: $bootstrap-md) {
      top: 0;
      opacity: 0.5;
      bottom: 0;
    }
  }
  
  .carousel-control-next-icon,  .carousel-control-prev-icon {
    height: 30px;
    width: 30px;
  }
  
  .carousel-control-prev {
    @media (min-width: $bootstrap-md) {
      left: -90px;
    }
  }
  
  .carousel-control-next {
    @media (min-width: $bootstrap-md) {
      right: -90px;
    }
  }
  
  .carousel-indicators {
    bottom: -60px;
    
    @media (min-width: $bootstrap-lg) {
      bottom: -30px;
    }
    
    li {
      height: 30px;
      border-radius: 100px;
      background: none;
      border: solid 2px white;
      
      @media (min-width: $bootstrap-lg) {
        height: 10px;
      }
      
      &:hover {
        background: white;
      }
      
      &.active {
        background: white;
      }
    }
  }
}

// --- END: custom styling demo --- //


// --- BEGIN: style switch --- //
// This is just styling for the style toggle switch. Mostly copied from https://www.w3schools.com/howto/howto_css_switch.asp

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  
  @media (min-width: $bootstrap-sm) {
    margin: 0;
  }
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-wrap {
  text-align: center;
  background-color: #b1fbc1;
  padding: 30px;
  // border-radius: 3px;
  margin: 30px 0 0;
  
  @media (min-width: $bootstrap-sm) {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 10px;
  }
}

.switch-text {
  display: block;
  margin: 0.5em;
  
  @media (min-width: $bootstrap-sm) {
    margin: 0 1em 0 0;
  }
}






// .group-1,
// .group-2 {
//     border: 1px solid #ffffff;
//     border-radius: 5px;
//     display: table;
//     margin-bottom: 20px;
//     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
// }

// .group-1 img,
// .group-2 img {
//     cursor: pointer;
//     width: 110px;
//     height: 100px;
//     padding: 5px;
//     border-radius: 10px;
// }



// body {
//   margin: 1em 0 0 0;
//   font-family: sans-serif;
//   font-size: 16px;
//   line-height: 24px;
//   color: #333;
// }
// * {
//   box-sizing: border-box;
// }
#demo {
  height:100%;
  position:relative;
  overflow:hidden;
}
.green{
  background-color:#6fb936;
}
        .thumb{
            // margin-bottom: 30px;
        }
        
        .page-top{
            // margin-top:85px;
        }

   
img.zoom {
    width: 100%;
    // height: 250px;
    // border-radius:5px;
    object-fit:cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
        
 
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
    .modal-header {
   
     border-bottom: none;
}
    .modal-title {
        color:#000;
    }
    .modal-footer{
      display:none;  
    }
    .page-top .row > div{
        padding: 0px;
      }



// second one
// .container.gallery-container {
//   background-color: #fff;
//   color: #35373a;
//   min-height: 100vh;
//   padding: 30px 50px;
// }

// .gallery-container h1 {
//   text-align: center;
//   margin-top: 50px;
//   font-family: 'Droid Sans', sans-serif;
//   font-weight: bold;
// }

// .gallery-container p.page-description {
//   text-align: center;
//   margin: 25px auto;
//   font-size: 18px;
//   color: #999;
// // }
// .page-top .row > div{
//   padding: 0px;
// }

// .tz-gallery {
//   padding: 40px;
// }

// .tz-gallery .row > div {
//   padding: 2px;
// }

// .tz-gallery .lightbox img {
//   width: 100%;
//   border-radius: 0;
//   position: relative;
// }

// .tz-gallery .lightbox:before {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   margin-top: -13px;
//   margin-left: -13px;
//   opacity: 0;
//   color: #fff;
//   font-size: 26px;
 
//   content: '\e003';
//   pointer-events: none;
//   z-index: 9000;
//   transition: 0.4s;
// }


// .tz-gallery .lightbox:after {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   opacity: 0;
//   background-color: rgba(46, 132, 206, 0.7);
//   content: '';
//   transition: 0.4s;
// }

// .tz-gallery .lightbox:hover:after,
// .tz-gallery .lightbox:hover:before {
//   opacity: 1;
// }

// .baguetteBox-button {
//   background-color: transparent !important;
// }

// @media(max-width: 768px) {
//   body {
//       padding: 0;
//   }
// }


// Third --------------------------------------------------------------------------------------------------------------
// *{
// 	padding:0;
// 	margin:0;
// }

/*	general	*/

// section{
//     padding: 50px 0;
// }
// .gallery-title{
//     font-size: 36px;
//     color: #3F6184;
//     text-align: center;
//     font-weight: 500;
//     margin-bottom: 70px;
// }
// .filter-button{
//     font-size: 18px;
//     border: 2px solid #3F6184;
// 	padding:5px 10px;
//     text-align: center;
//     color: #3F6184;
//     margin-bottom: 30px;
// 	background:transparent;
// }
// .filter-button:hover,
// .filter-button:focus,
// .filter-button.active{
//     color: #ffffff;
//     background-color:#3F6184;
// 	outline:none;
// }
// .gallery_product{
//     margin: 0px;
// 	padding:0;
// 	position:relative;
// }
// .gallery_product .img-info{
// 	position: absolute;
//     background: rgba(0,0,0,0.5);
//     left: 0;
//     right: 0;
//     bottom: 0;
//     padding: 20px;
// 	overflow:hidden;
// 	color:#fff;
// 	top:0;
// 	display:none;
// 	   -webkit-transition: 2s;
//     transition: 2s;
// }

// .gallery_product:hover .img-info{
// 	display:block;
//    -webkit-transition: 2s;
//     transition: 2s;
// }

