<div class="hero-banner mt-1">
    <div class="container overlay">
        <h1 class="text-center text-white"></h1>
    </div>
</div>
<div class="px-lg-5 mt-5">
    <!-- <div class="container-fluid">
        <div class="row pb-5">
            <div class="col-lg-12 mx-auto">
                <div class="text-white p-3 shadow-sm rounded banner">
                    <h1 class="logo_font">Logo Works!</h1>
                    <p class="lead">Made By sdm photo effect</p>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End -->
    <div class="main_title">
        <h2>Logo Works!</h2>
        <p> Your logo your thought!</p>
    </div>
    <div class="container logo_font">
        <div class="row">
            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="bg-white rounded shadow-sm"><img src="/assets/logo_works/BUCEPHALUS-01.png" alt=""
                        class="img-fluid card-img-top">
                    <div class="p-4">
                        <h6 class="text-dark">BUCEPHALUS ASSOCIATES</h6>
                    </div>
                </div>
            </div>
            <!-- End -->

            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="bg-white rounded shadow-sm"><img src="/assets/logo_works/Js_groups.png" alt=""
                        class="img-fluid card-img-top">
                    <div class="p-4">
                        <h6 class="text-dark">JS GROUPS</h6>
                    </div>
                </div>
            </div>
            <!-- End -->

            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="bg-white rounded shadow-sm"><img src="/assets/logo_works/Kr_anandam_service.png" alt=""
                        class="img-fluid card-img-top">
                    <div class="p-4">
                        <h6 class="text-dark">KR ANANDHAM SERVICE</h6>
                    </div>
                </div>
            </div>
            <!-- End -->

            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="bg-white rounded shadow-sm"><img src="/assets/logo_works/pcm_paddy_leaf.PNG" alt=""
                        class="img-fluid card-img-top">
                    <div class="p-4">
                        <h6 class="text-dark">PCM PADDY GROUPS</h6>
                    </div>
                </div>
            </div>
            <!-- End -->

            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="bg-white rounded shadow-sm"><img src="/assets/logo_works/Raghavendra_bakery.PNG" alt=""
                        class="img-fluid card-img-top">
                    <div class="p-4">
                        <h6 class="text-dark">RAGHAVENDRA BAKERY</h6>
                    </div>
                </div>
            </div>
            <!-- End -->

            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="bg-white rounded shadow-sm"><img src="/assets/logo_works/SS_super_market.PNG" alt=""
                        class="img-fluid card-img-top">
                    <div class="p-4">
                        <h6 class="text-dark">SS SUPER MARKET</h6>
                    </div>
                </div>
            </div>
            <!-- End -->

            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="bg-white rounded shadow-sm"><img src="/assets/logo_works/GK_hospital.PNG" alt=""
                        class="img-fluid card-img-top">
                    <div class="p-4">
                        <h6 class="text-dark">GK HOSPITAL</h6>
                    </div>
                </div>
            </div>
            <!-- End -->

            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="bg-white rounded shadow-sm"><img src="/assets/logo_works/Mkv_groups.png" alt=""
                        class="img-fluid card-img-top">
                    <div class="p-4">
                        <h6 class="text-dark">MKV GROUPS</h6>
                    </div>
                </div>
            </div>
            <!-- End -->
            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="bg-white rounded shadow-sm"><img src="/assets/logo_works/MV_Properties.PNG" alt=""
                        class="img-fluid card-img-top">
                    <div class="p-4">
                        <h6 class="text-dark">MV PROPERTIES</h6>
                    </div>
                </div>
            </div>
            <!-- End -->
            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="bg-white rounded shadow-sm"><img src="/assets/logo_works/SSK_properties.PNG" alt=""
                        class="img-fluid card-img-top">
                    <div class="p-4">
                        <h6 class="text-dark">SSK PROPERTIES</h6>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="px-lg-5 my-5">
    <div class="container">
        <div class="row pb-3">
            <div class="col-lg-12 mx-auto">
                <!-- <div class="text-white p-5 shadow-sm rounded banner">
                    <h1 class="display-4">Photo Restoration Works!</h1>
                    <p class="lead">Made By sdm photo effect</p>
                </div> -->
                <div class="main_title">
                    <h2>Photo Restoration Works!</h2>
                    <p>All your golden memories it's take a live.</p>
                </div>
                <div class="col-xl-6">
                    <div id="img2" class="twentytwenty-container box">
                        <img src="/assets/portfolio/old_before_standing.png" alt="before image">
                        <img src="/assets/portfolio/old_after_standing.png" alt="after image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="px-lg-5 my-5">
    <div class="container">
        <div class="main_title">
            <h2>Photo Frames</h2>
            <p>Take your picture alive</p>
        </div>
        <div class="row">
            <div class="container-gallery">
                <div class="gallery01">
                    <div class="gallery-item item-1"></div>
                    <div class="gallery-item item-2"></div>
                    <div class="gallery-item item-3"></div>
                    <div class="gallery-item item-4"></div>
                    <div class="gallery-item item-5"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="main_title">
    <h2>Ldfsgdfsgsdf fdgsdfgfsd dsfgfdsg </h2>
    <p> Your logo your thought!</p>
</div> -->