<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top text-capitalize border-btm py-4 page">
    <div class="container">
      <p class="font-weight-lighter mb-0">
        <img class="" src="../assets/sdmphotoeffect_logo.png" width="60" alt="" loading="lazy" />
       New Thoughts!</p>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarExample01"
        aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse font-weight fnt" id="navbarExample01">
        <!-- <span class="text-capitalize">
        <img class="" src="../assets/sdmphotoeffect_logo.png" width="60" alt="" loading="lazy" />
       </span> -->
        <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" aria-current="page" routerLink="/home" routerLink="/">Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active" skipLocationChange="true">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item" routerLinkActive="active" skipLocationChange="true">
            <a class="nav-link" routerLink="/portfolio">Portfolio</a>
          </li>

          <li class="nav-item" routerLinkActive="active" skipLocationChange="true">
            <a class="nav-link" routerLink="/album">Album</a>
          </li>

          <li class="nav-item" routerLinkActive="active" skipLocationChange="true">
            <a class="nav-link" routerLink="/wedding">Wedding</a>
          </li>
          <li class="nav-item" routerLinkActive="active" skipLocationChange="true">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
    
          <!-- <li class="nav-item signin-ml border-radius-10" routerLinkActive="active" skipLocationChange="true">
            <button type="button" class="btn btn-warning nav-link btn-sm" routerLink="/home/login" data-toggle="modal"
              data-target="#myModal">+91 9597118896 +91 8695592555</button>
          </li> -->
          
        </ul>
        <li class="nav-item list-unstyled d-md-none d-sm-none d-none d-lg-block">
          <a class="nav-link pr-0" href="tel: +918695592555">+918695592555</a>
          </li>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
</header>
<router-outlet></router-outlet>

<footer class="mt-footer">
  <div class="waves">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
  </div>
  <ul class="social_icon p-0">
    <li><a href="https://www.facebook.com/sdmphotoeffect" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a href="https://twitter.com/sdmphotoeffect" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a href=""><i class="fa fa-instagram"></i></a></li>
  </ul>
  <ul class="menu pl-0">
    <!-- <li class="d-flex justify-content-center"> -->
      <li class="mx-auto text-center">
      <a routerLink="/home" routerLink="/">Home</a>
      <a routerLink="/about">About</a>
      <a routerLink="/portfolio">Portfolio</a>
      <a routerLink="/album">Album</a>
      <a routerLink="/wedding">Wedding</a>
      <a routerLink="/contact">Contact</a>
    </li>
  </ul>
  <p>&copy;2007-{{ autoyear }} sdmphotoeffect</p>
</footer>
<div class="go-top">
</div>
<!-- Page Loader -->
<div class="loader hidden">
  <img src="/assets/loader.gif" alt="Loading..." />
</div>

