<!-- carousel start -->


<div id="carouselExampleIndicators" class="carousel slide carousel-fade mt_85" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/home/Madhan_reception_shoot.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Madhan Kumar + Sandhiya</h5>
        <p>Wedding and Reception ceremory - lovely couple</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/home/Baby_shower_ravisister.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Bharathi</h5>
        <p>Baby shower ceremony</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/home/Ramachandra_80th birthday.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Sadhabisekam 80th birthday</h5>
        <p>Sadhabisekam ceremony</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- carousel end -->
<!-- Gallery -->
<div class="container section-margin">
  <!-- <h2 class="text-center mb-5">Recent Works</h2> -->
  <div class="main_title pt-4">
    <h2>Recent Trends in Photography</h2>
    <p>Picture and pictures</p>
  </div>
  <p class="video-desc pt-4 px-3">
    Camera and editing technology has changed rapidly over the course of the past decade. In the past, only a select
    few trained specialists would take interest in photography, as the equipment and management required substantial
    knowledge.
  </p>
  <p class="video-desc pt-2 px-3">
    Now, photography has become far more user-friendly and affordable. Nearly anyone with a powerful camera can
    explore photography as a medium, and trends in photography show that this field is no longer limited to
    professionals now!
  </p> 
  <p class="video-desc pt-2 px-3">
    There are more photos today types, HDR Photography, Retro-Style Photography, 360 Panorama, Point and Shoot Size DSLRs, Drones
  </p>

  <!-- <div class="row">
    <div class="col-lg-4 col-md-12 mb-2 mb-lg-0 px-1">
      <img src="./assets/recent_works/one.jpg" class="w-100 shadow-1-strong mb-2" alt="" />
      <img src="./assets/recent_works/second.jpg" class="w-100 shadow-1-strong mb-2" alt="" />
      <img src="./assets/recent_works/seventh.jpg" class="w-100 shadow-1-strong mb-2" alt="" />
    </div>

    <div class="col-lg-4 mb-2 mb-lg-0 px-1">
      <img src="./assets/recent_works/third.jpg" class="w-100 shadow-1-strong mb-2" alt="" />
      <img src="./assets/recent_works/fourth.jpg" class="w-100 shadow-1-strong mb-2" alt="" />
      <img src="./assets/recent_works/eighth.jpg" class="w-100 shadow-1-strong  mb-2" alt="" />
    </div>

    <div class="col-lg-4 mb-2 mb-lg-0 px-1">
      <img src="./assets/recent_works/fifth.jpg" class="w-100 shadow-1-strong mb-2" alt="" />
      <img src="./assets/recent_works/sixth.jpg" class="w-100 shadow-1-strong  mb-2" alt="" />
      <img src="./assets/recent_works/ninth.jpg" class="w-100 shadow-1-strong  mb-2" alt="" />
    </div>
  </div> -->

  <div id="wrap" class="container my-5">
    <div class="row">
      <div class="col-12">

        <!-- Carousel -->
        <div id="carousel" class="carousel slide gallery" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-slide-number="0" data-toggle="lightbox" data-gallery="gallery"
              data-remote="https://source.unsplash.com/vbNTwfO9we0/1600x900.jpg">
              <img src="https://source.unsplash.com/vbNTwfO9we0/1600x900.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-slide-number="1" data-toggle="lightbox" data-gallery="gallery"
              data-remote="https://source.unsplash.com/DEhwkPYevhE/1600x900.jpg">
              <img src="https://source.unsplash.com/DEhwkPYevhE/1600x900.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-slide-number="2" data-toggle="lightbox" data-gallery="gallery"
              data-remote="https://source.unsplash.com/-RV5PjUDq9U/1600x900.jpg">
              <img src="https://source.unsplash.com/-RV5PjUDq9U/1600x900.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-slide-number="3" data-toggle="lightbox" data-gallery="gallery"
              data-remote="https://source.unsplash.com/sd0rPap7Uus/1600x900.jpg">
              <img src="https://source.unsplash.com/sd0rPap7Uus/1600x900.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-slide-number="4" data-toggle="lightbox" data-gallery="gallery"
              data-remote="https://source.unsplash.com/kmRZFcZEMY8/1600x900.jpg">
              <img src="https://source.unsplash.com/kmRZFcZEMY8/1600x900.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-slide-number="5" data-toggle="lightbox" data-gallery="gallery"
              data-remote="https://source.unsplash.com/HJDdrWtlkIY/1600x900.jpg">
              <img src="https://source.unsplash.com/HJDdrWtlkIY/1600x900.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-slide-number="6" data-toggle="lightbox" data-gallery="gallery"
              data-remote="https://source.unsplash.com/VfuJpt81JZo/1600x900.jpg">
              <img src="https://source.unsplash.com/VfuJpt81JZo/1600x900.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-slide-number="7" data-toggle="lightbox" data-gallery="gallery"
              data-remote="https://source.unsplash.com/NLkXZQ7kHzI/1600x900.jpg">
              <img src="https://source.unsplash.com/NLkXZQ7kHzI/1600x900.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-slide-number="8" data-toggle="lightbox" data-gallery="gallery"
              data-remote="https://source.unsplash.com/bl4WNYGe2KE/1600x900.jpg">
              <img src="https://source.unsplash.com/bl4WNYGe2KE/1600x900.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-slide-number="9" data-toggle="lightbox" data-gallery="gallery"
              data-remote="https://source.unsplash.com/_8zfgT9kS2g/1600x900.jpg">
              <img src="https://source.unsplash.com/_8zfgT9kS2g/1600x900.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-slide-number="10" data-toggle="lightbox" data-gallery="gallery"
              data-remote="https://source.unsplash.com/enuCEimS1p4/1600x900.jpg">
              <img src="https://source.unsplash.com/enuCEimS1p4/1600x900.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-slide-number="11" data-toggle="lightbox" data-gallery="gallery"
              data-remote="https://source.unsplash.com/hZDtZkdXtek/1600x900.jpg">
              <img src="https://source.unsplash.com/hZDtZkdXtek/1600x900.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <a class="carousel-fullscreen" href="#carousel" role="button">
            <span class="carousel-fullscreen-icon" aria-hidden="true"></span>
            <span class="sr-only">Fullscreen</span>
          </a>
          <a class="carousel-pause pause" href="#carousel" role="button">
            <span class="carousel-pause-icon" aria-hidden="true"></span>
            <span class="sr-only">Pause</span>
          </a>
        </div>

        <!-- Carousel Navigatiom -->
        <div id="carousel-thumbs" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-slide-number="0">
              <div class="row mx-0">
                <div id="carousel-selector-0" class="thumb col-3 px-1 py-2 selected" data-target="#carousel"
                  data-slide-to="0">
                  <img src="https://source.unsplash.com/vbNTwfO9we0/1600x900.jpg" class="img-fluid" alt="...">
                </div>
                <div id="carousel-selector-1" class="thumb col-3 px-1 py-2" data-target="#carousel" data-slide-to="1">
                  <img src="https://source.unsplash.com/DEhwkPYevhE/1600x900.jpg" class="img-fluid" alt="...">
                </div>
                <div id="carousel-selector-2" class="thumb col-3 px-1 py-2" data-target="#carousel" data-slide-to="2">
                  <img src="https://source.unsplash.com/-RV5PjUDq9U/1600x900.jpg" class="img-fluid" alt="...">
                </div>
                <div id="carousel-selector-3" class="thumb col-3 px-1 py-2" data-target="#carousel" data-slide-to="3">
                  <img src="https://source.unsplash.com/sd0rPap7Uus/1600x900.jpg" class="img-fluid" alt="...">
                </div>
              </div>
            </div>
            <div class="carousel-item " data-slide-number="1">
              <div class="row mx-0">
                <div id="carousel-selector-4" class="thumb col-3 px-1 py-2" data-target="#carousel" data-slide-to="4">
                  <img src="https://source.unsplash.com/kmRZFcZEMY8/1600x900.jpg" class="img-fluid" alt="...">
                </div>
                <div id="carousel-selector-5" class="thumb col-3 px-1 py-2" data-target="#carousel" data-slide-to="5">
                  <img src="https://source.unsplash.com/HJDdrWtlkIY/1600x900.jpg" class="img-fluid" alt="...">
                </div>
                <div id="carousel-selector-6" class="thumb col-3 px-1 py-2" data-target="#carousel" data-slide-to="6">
                  <img src="https://source.unsplash.com/VfuJpt81JZo/1600x900.jpg" class="img-fluid" alt="...">
                </div>
                <div id="carousel-selector-7" class="thumb col-3 px-1 py-2" data-target="#carousel" data-slide-to="7">
                  <img src="https://source.unsplash.com/NLkXZQ7kHzI/1600x900.jpg" class="img-fluid" alt="...">
                </div>
              </div>
            </div>
            <div class="carousel-item" data-slide-number="2">
              <div class="row mx-0">
                <div id="carousel-selector-8" class="thumb col-3 px-1 py-2" data-target="#carousel" data-slide-to="8">
                  <img src="https://source.unsplash.com/bl4WNYGe2KE/1600x900.jpg" class="img-fluid" alt="...">
                </div>
                <div id="carousel-selector-9" class="thumb col-3 px-1 py-2" data-target="#carousel" data-slide-to="9">
                  <img src="https://source.unsplash.com/_8zfgT9kS2g/1600x900.jpg" class="img-fluid" alt="...">
                </div>
                <div id="carousel-selector-10" class="thumb col-3 px-1 py-2" data-target="#carousel" data-slide-to="10">
                  <img src="https://source.unsplash.com/enuCEimS1p4/1600x900.jpg" class="img-fluid" alt="...">
                </div>
                <div id="carousel-selector-11" class="thumb col-3 px-1 py-2" data-target="#carousel" data-slide-to="11">
                  <img src="https://source.unsplash.com/hZDtZkdXtek/1600x900.jpg" class="img-fluid" alt="...">
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-thumbs" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-thumbs" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>






</div>
<!-- Gallery -->

<div class="container-fluid mt-5 px-0 pt-5">
  <div class="fixed-img">
    <div class="fix-qoutes text-center text-white d-flex justify-content-sm-center">
      <!-- <div class="col-md-2 block"> -->
      <div class="col-lg-4">
        <div class="circle quotes-symbol">
          <i class="fa fa-quote-left" aria-hidden="true"></i>
          <p class="">
            “What makes photography a strange invention is that its primary raw materials are time and light."</p>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>

  <!-- Package details-->
  <div class="container my-5 price-ft pt-4">
    <div class="heading text-center">
      <!-- Heading -->
      <div class="main_title">
        <h2>Package Details</h2>
        <p>Affortable price</p>
      </div>
      <!-- <p>At lorem Ipsum available, but the majority have suffered alteration in some form by injected humour.</p> -->
    </div>
    <div class="row flat">
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <ul class="plan plan1">
          <li class="plan-name">Silver</li>
          <li class="plan-price"> <strong>Still Camera</strong> / 01 </li>
          <li> <strong>Video Camera</strong> / 01 </li>
          <li> <strong>Album</strong> / Karizma </li>
          <li> <strong>Video</strong> / Pendrive</li>
          <li> <strong>12X18</strong> / Frame</li>
          <li> <strong>Highlight Video</strong> / Charges Extra</li>
          <li class="plan-action"> <span class="bg-warning d-block rate font-weight-bold">35K</span> </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <ul class="plan plan2">
          <li class="plan-name">Gold</li>
          <li class="plan-price"> <strong>Still Camera</strong> / 01</li>
          <li> <strong>Video Camera</strong> / 01</li>
          <li> <strong>Album</strong> / Karizma</li>
          <li> <strong>Video</strong> / Pendrive</li>
          <li> <strong>12X18</strong> / Frame</li>
          <li> <strong>Highlight Video</strong> / 01</li>
          <li class="plan-action"> <span class="bg-warning d-block rate font-weight-bold">55K</span> </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <ul class="plan plan3">
          <li class="plan-name">Diamond</li>
          <li class="plan-price"> <strong>Still Camera</strong> / 02</li>
          <li> <strong>Video Camera</strong> / (UHD) 01</li>
          <li> <strong>Kerala Album</strong> / Canon Print</li>
          <li> <strong>Video</strong> / Pendrive</li>
          <li> <strong>12X18</strong> / Frame</li>
          <li> <strong>Highlight Video</strong> / 01</li>
          <li class="plan-action"> <span class="bg-warning d-block rate font-weight-bold">80K</span> </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <ul class="plan plan4">
          <li class="plan-name">Platinum</li>
          <li class="plan-price"> <strong>Still Camera</strong> / 02 </li>
          <li> <strong>Video Camera + Trone</strong> / 02</li>
          <li> <strong>Kerala Album</strong> / (UHD) 01</li>
          <li> <strong>Video</strong> / Pendrive</li>
          <li> <strong>12X18</strong> / Frame 02 </li>
          <li> <strong>Highlight Video</strong> / 01</li>
          <li class="plan-action"> <span class="bg-warning d-block rate font-weight-bold">1.25L</span> </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Heading -->


  <div class="container mt-5 mb-1" id="project-animation">
    <div class="main_title">
      <h2>Projects statistics!</h2>
      <p>Valuable Customers</p>
    </div>
    <div class="row text-center">
      <div class="col-md-3 col-sm-6">
        <div class="">
          <i class="fa fa-smile-o"></i>
        </div>
        <span class="counter">16</span>
        <h6>Happy Customers</h6>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="">
          <i class="fa fa-coffee"></i>
        </div>
        <span class="counter">12</span>
        <h6>Advertisment</h6>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="">
          <i class="fa fa-camera"></i>
        </div>
        <span class="counter">43</span>
        <h6>Album</h6>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="">
          <i class="fa fa-video-camera"></i>
        </div>
        <span class="counter">56</span>
        <h6>Wedding video</h6>
      </div>
    </div>
  </div>
  <!-- Image Gallery -->
  <!-- <div class="container myimages">
    <div class="first-column"> <a href="#"><img src="https://picsum.photos/300/300?random=1" alt="image"></a> <a href="#"><img src="https://picsum.photos/300/300?random=2" alt="image"></a> <a href="#"><img src="https://picsum.photos/300/300?random=3" alt="image"></a> <a href="#"><img src="https://picsum.photos/300/300?random=4" alt="image"></a> </div>
    <div class="first-column"> <a href="#"><img src="https://picsum.photos/300/300?random=5" alt="image"></a> <a href="#"><img src="https://picsum.photos/300/300?random=6" alt="image"></a> <a href="#"><img src="https://picsum.photos/300/300?random=7" alt="image"></a> <a href="#"><img src="https://picsum.photos/300/300?random=8" alt="image"></a> </div>
    <div class="first-column"> <a href="#"><img src="https://picsum.photos/300/300?random=9" alt="image"></a> <a href="#"><img src="https://picsum.photos/300/300?random=10" alt="image"></a> <a href="#"><img src="https://picsum.photos/300/300?random=11" alt="image"></a> <a href="#"><img src="https://picsum.photos/300/300?random=12" alt="image"></a> </div>
    <div class="first-column"> <a href="#"><img src="https://picsum.photos/300/300?random=13" alt="image"></a> <a href="#"><img src="https://picsum.photos/300/300?random=14" alt="image"></a> <a href="#"><img src="https://picsum.photos/300/300?random=15" alt="image"></a> <a href="#"><img src="https://picsum.photos/300/300?random=16" alt="image"></a> </div>
    <div class="first-column"> <a href="#"><img src="https://picsum.photos/300/300?random=17" alt="image"></a> <a href="#"><img src="https://picsum.photos/300/300?random=18" alt="image"></a> <a href="#"><img src="https://picsum.photos/300/300?random=19" alt="image"></a> <a href="#"><img src="https://picsum.photos/300/300?random=20" alt="image"></a> </div>
    <div class="first-column"> <a href="#"><img src="https://picsum.photos/300/300?random=21" alt="image"></a> <a href="#"><img src="https://picsum.photos/300/300?random=22" alt="image"></a> <a href="#"><img src="https://picsum.photos/300/300?random=23" alt="image"></a> <a href="#"><img src="https://picsum.photos/300/300?random=24" alt="image"></a> </div>
    <div class="first-column"> <a href="#"><img src="https://picsum.photos/300/300?random=25" alt="image"></a> <a href="#"><img src="https://picsum.photos/300/300?random=26" alt="image"></a> <a href="#"><img src="https://picsum.photos/300/300?random=27" alt="image"></a> <a href="#"><img src="https://picsum.photos/300/300?random=28" alt="image"></a> </div>
    <div class="first-column"> <a href="#"><img src="https://picsum.photos/300/300?random=29" alt="image"></a> <a href="#"><img src="https://picsum.photos/300/300?random=30" alt="image"></a> <a href="#"><img src="https://picsum.photos/300/300?random=31" alt="image"></a> <a href="#"><img src="https://picsum.photos/300/300?random=32" alt="image"></a> </div>
</div> -->